@{
    ViewBag.Title = "Home Page";
}

<div class="hero-unit">
    <h1>Chat</h1>

</div>
<div class="row">
    <div class="span4">
        <input type="text" placeholder="Type Messages Here" id="newMessage" />
        <button id="send-button">Send</button>
    </div>
    <div class="span8" id="messages"></div>
</div>