@{
    ViewBag.Title = "Enduro";
}

<div class="hero-unit">
    <h2>Enduro/ Adventure tourer motorcycles</h2>
</div>
<div class="row-fluid clearfix">
    <h2 class="text-info text-center">The enduro type off-on road animal</h2>
    <div class="span6">
        <img src="~/img/enduro/1200gsfr.jpg" width="500" />
    </div>
    <p class="active">
        <p>
            <a href="http://en.wikipedia.org/wiki/Touring_motorcycle">
                <span class="muted">
                    From Wikipedia, the free encyclopedia
                </span>
            </a>
        </p>
        This is the bike you can take on 1000 km road trip in one day or get off-road (not too havy of course).
        The adventure touring motorcycle concept encompasses dual-sport motorcycles designed specifically to provide
        long range touring capabilities both on roads and off roads with the intent of making virtually any destination
        reachable. Motorcycles in this category share a unique combination of traits that provide them very high ground
        clearance (for off-road purposes), large fuel reserves, large displacement, under stressed engines for high reliability
        and heavy torque output but good high-speed highway behavior and handling. These combinations, along with their weight and
        large size, separates them from traditional off-road, enduro, and motocross motorcycles.
        It is common for a large selection of purpose-driven options to be available for global tourers, including skid plates
        (to protect the engine and transmission during off-road use), larger and additional fuel tanks than stock, metal-formed
        hard luggage for extreme condition use, hardened GPS navigation systems designed to handle off-road abuse, etc. These bikes
        do not necessarily ship with hard luggage, but usually offer them as optional extras either from the manufacturer or via third-party
        suppliers. These motorcycles are often used as the basis for competitions in extreme rally events, including the grueling Dakar Rally.
        Examples include the BMW BMW R1200GS, the KTM 990 Adventure series, and Suzuki V-Strom 1000.
    
    </p>
</div>
