@{
    ViewBag.Title = "Sport";
}

<div class="hero-unit">
    <h2>Sport motorcycles</h2>
</div>
<div class="row-fluid clearfix">
    <h2 class="text-info text-center">The sport type motorcycle</h2>
    <div class="span6">
        <img src="~/img/kawasaki.jpg" width="500" />
    </div>
    <p class="active">
        <p>
            <a href="http://en.wikipedia.org/wiki/Sport_motorcycle">
                <span class="muted">
                    From Wikipedia, the free encyclopedia
                </span>
            </a>
        </p>

        <p>
            A Kawasaki sport bike at a track day at Lakeside International Raceway.
            A sport bike, aka "sportbike" and "sportsbike", is a motorcycle optimized for speed, acceleration, braking, and cornering on paved roads,
            typically at the expense of comfort and fuel economy by comparison with more standard motorcycles. Soichiro Honda wrote in the owner's manual
            of the 1959 Honda CB92 Benly Super Sport that, "Primarily, essentials of the motorcycle consists in the speed and the thrill," while Cycle World's
            Kevin Cameron says more prosaically that, "A sportbike is a motorcycle whose enjoyment consists mainly from its ability to perform on all types of
            paved highway – its cornering ability, its handling, its thrilling acceleration and braking power, even (dare I say it?) its speed."
            Motorcycles are versatile and may be put to many uses as the rider sees fit. In the past there were few if any specialized types of motorcycles,
            but the number of types and sub-types has proliferated, particularly in the period since the 1950s.The introduction of the Honda CB750 in 1969
            marked a dramatic increase in the power and speed of practical and affordable sport bikes available to the general public.
        </p>

        <p>
            The groundbreaking inline four of the Honda CB750.
            This was followed in the 1970s by improvements in suspension and braking commensurate with the power of the large
            inline fours that had begun to dominate the sport bike world. In the 1980s sport bikes again took a leap ahead,
            becoming almost indistinguishable from racing motorcycles. Since the 1990s sport bikes have become
            more diverse, adding new variations like the naked bike and streetfighter to the more familiar road racing style of sport bike.

        </p>
    </p>
</div>