@{
    ViewBag.Title = "Sport";
}

<div class="hero-unit">
    <h2>Tourer motorcycles</h2>
</div>
<div class="row-fluid clearfix">
    <h2 class="text-info text-center">The sport type motorcycle</h2>
    <div class="span6">
        <img src="~/img/tourer.jpg" width="500" />
    </div>
    <p class="active">
        <p>
            <a href="http://en.wikipedia.org/wiki/Touring_motorcycle">
                <span class="muted">
                    From Wikipedia, the free encyclopedia
                </span>
            </a>
        </p>

        <p>
            A touring motorcycle is a type of motorcycle designed for touring. Although any motorcycle can be used for this purpose,
            manufacturers have developed specific models designed to address the particular needs of these riders. Touring motorcycles
            commonly have large displacement fairings and windshields that offer a high degree of weather and wind protection, large-capacity
            fuel tanks for long ranges between fill-ups, engines with a great deal of low-end horsepower, and a more relaxed, upright seating
            position than sport bikes. These motorcycles can be further divided into multiple sub-categories, which are commonly used terms within
            the motorcycle industry.
        </p>
    </p>
</div>