@model Teleritter.Models.TelereetViewModel

<div>    
    <h4>@Model.Text</h4>

    <em>by @Model.Author <sup>Posted on: @Model.PostedOn.ToString("dd-MM-yyyy")</sup></em>

    <div>
        <sub>
            @foreach (var tag in Model.Tags)
            {
                <a href="@Url.Action("ByTag", "Home", new { tagId = tag.TagId })">
                    #@tag.Name
                </a>
            }
        </sub>
    </div>
</div>