@{
    ViewBag.Title = "About";
}
<hgroup>
    <h2>@ViewBag.Title</h2>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>This is an moto informational site.</p>
        @Html.Partial("_ForumsPartial")
    </div>
    <h3>Try: http://localhost:33839/motospecialroute/123</h3>
</div>