@{
    ViewBag.Title = "Home Page";
}

<div class="page-header">
    <h1>
        <img src="~/img/binaryIcon.png" />
        BitCalculator
    </h1>
</div>
<div class="row">
    <div class="span4">
        <div>
            @using (Ajax.BeginForm("Calculate", new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "result",
                InsertionMode= InsertionMode.Replace
            }))
            {
                <label for="number">Value</label>
                <input id="number" name="number" type="number" value="1"/>
                
                <label for="unit">Unit</label>
                <select id="unit" name="unit">
                    <option value="01">Bit</option>
                    <option value="08">Byte</option>
                    <option value="11">KiloBit</option>
                    <option value="18">KiloByte</option>
                    <option value="21">MegaBit</option>
                    <option value="28">MegaByte</option>
                    <option value="31">GigaBit</option>
                    <option value="38">GigaByte</option>
                    <option value="41">TeraBit</option>
                    <option value="48">TeraByte</option>
                    <option value="51">PetaBit</option>
                    <option value="58">PetaByte</option>
                    <option value="61">ExaBit</option>
                    <option value="68">ExaByte</option>
                    <option value="71">ZettaBit</option>
                    <option value="78">ZettaByte</option>
                    <option value="81">YottaBit</option>
                    <option value="88">YottaByte</option>
                </select>
                
                <label for="kilo">Kilo? Storage or Network</label>
                <select name="kilo" id="kilo">
                    <option value="1000">1000 - Network</option>
                    <option value="1024">1024 - Storage</option>
                </select>
                
                <input type="submit" value="СмЯтай"/>
            }
        </div>
    </div>
    <div id="result" class="span8"></div>
</div>