@model MVCTest.Models.CalculateModel

<div class="span4">
    <table class="table">
        <tr>
            <th>In Unit</th>
            <th>Value</th>
        </tr>
       @Helpers.FillAllUnits(Model)
    </table>
</div>

