@model IEnumerable<LibrarySystem.ViewModels.Books.BooksInCategoriesVM>
@{
    ViewBag.Title = "Books";
}
<div class="container-fluid">
    <div class="page-header clearfix">
        <div class="span3">
            <h1>Books</h1>
        </div>
        <div class="search-button pull-right">
            <div class="form-search">
                <div class="input-append">
                    <form action="home/search" method="post">
                        <input type="text"
                               maxlength="100"
                               name="query"
                               id="query"
                               placeholder="Books serach..."
                               class="span3 search-query" />
                        <input type="submit"
                               class="btn" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <ul class="contain-fluid clearfix">
        @foreach (var category in Model)
    {
            <li class="span4 results-div">
                <h3>
                    @category.Name
                </h3>
                @foreach (var item in category.Books)
            {
                    <div>
                        <a href="home/details/@item.Id">
                            <span>@Helpers.TrimText(item.Title.ToString())</span>
                             by 
                            <strong>@Helpers.TrimText(item.Author.ToString())</strong>
                        </a>
                    </div>
            }
            </li>
    }
    </ul>
</div>
